.av-banner {
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;

  .av-banner-container {
    max-height: 52px;
    overflow: visible;
  }
  .av-banner-content {
    align-items: center;
    display: flex;
    font-weight: 500;
    justify-content: center;
    padding: 12px;
    text-align: center;
    margin: auto;
    transition: color 0.25s ease-in-out;
  
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      text-decoration: underline;
    }
  }

  .av-banner-text {
    flex: 0 1 auto;
    padding: 4px;
    overflow: hidden;
  }
}

.av-banner-announcement {
  .av-banner-container {
    max-height: 88px;
    overflow: scroll;
  }
  .av-banner-content {
    max-width: 876px;
  }
  &.light {
    .av-banner-container {
      background-color: #42526E;
    }
    .av-banner-content {
      background-color: #42526E;
      fill: #42526E;
      color: #FFFFFF;
    }
  }
  &.dark {
    .av-banner-container {
      background-color: #42526E;
    }
    .av-banner-content {
      background-color: #42526E;
      fill: #42526E;
      color: #FFFFFF;
    }
  }
}

.av-banner-error {
  &.light {
    .av-banner-container {
      background-color: #DE350B;
    }
    .av-banner-content {
      background-color: #DE350B;
      fill: #DE350B;
      color: #FFFFFF;
    }
  }
  &.dark {
    .av-banner-container {
      background-color: #FF5630;
    }
    .av-banner-content {
      background-color: #FF5630;
      fill: #FF5630;
      color: #202B3D;
    }
  }
}

.av-banner-warning {
  &.light {
    .av-banner-container {
      background-color: #FFAB00;
    }
    .av-banner-content {
      background-color: #FFAB00;
      fill: #FFAB00;
      color: #202B3D;
    }
  }
  &.dark {
    .av-banner-container {
      background-color: #FFAB00;
    }
    .av-banner-content {
      background-color: #FFAB00;
      fill: #FFAB00;
      color: #CED9EB;
    }
  }
}
